Project: Devxican

Functional Requirements

1. User
    - Login
    - Logout
    - Register
    - create a question
    - comment on a question

2. Questions

3. Answers

4. Feed


Endpoints:
Chris
delete of a question [Done]
post a comment [testear]
delete a comment [not finished]
get a comment by id [testear]
get all comments from a question id [Done]
put a like/dislike of a question [testear]
update of a question [testear]
get all comments from an id [testear]
robustecer validaciones [not finished]


Fernando
Post a question [Done]
Get of a question by id [Done]
Post an answer from given question id [Done]



post of a comment with reference/quote





DB

1. User
    - username : str
    - password : str
    - email : str
    - name : str
    - phone : str

2. Preguntas
    - title : str
    - author : Object
    - date : timestamp
    - desciption : str
    - *files : str
    - answer : Array[]
    - likes : int
    - dislikes : int

3. Answer
    - author : str
    - date : timestamp
    - comment : str
    - likes : int
    - dislikes : int
    - *files : str